<div style="width: 30%;">
<form method="POST" action="/omdb/search">
    <label for="searchTerm" class="card-text text-muted">Search Term:</label>
    <input id="searchTerm" type="text" name="search" class="form-control">
    <br />
    <input type="submit" class="btn btn-primary">
  </form>
</div>